.nav-menu ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  text-align: center;
  text-decoration: none;
  color: #0099cc; /* メインブルー */
  font-size: 14px;
  transition: color 0.3s ease;
}

.material-symbols-outlined {
  display: block;
  font-size: 32px;
  margin: 0 auto 4px;
  color: inherit;
}

/* hover効果 */
.nav-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: currentColor;
  margin: 4px auto 0;
  transition: width 0.3s ease;
}

.nav-menu a:hover {
  color: #0077aa;
}

.nav-menu a:hover::after {
  width: 60%;
}
